{
    "stripe_secret": "XXX",
    "mappings": {
        "tracking": {
            "key": "region",
            "values": {
                "boston": "East, Boston",
                "dc": "East, DC",
                "detroit": "East, Detroit",
                "nj": "East, NJ",
                "newjersey": "East, NJ",
                "jersey": "East, NJ",
                "newyork": "East, NY",
                "ny": "East, NY",
                "philly": "East, Philly",
                "philadelphia": "East, Philly",
                "pittsburgh": "East, Pittsburgh",

                "chicago": "Mid, Chicago",
                "desmoines": "Mid, IA",
                "iowa": "Mid, IA",
                "cedarrapids": "Mid, IA",
                "kansascity": "Mid, KS",
                "ks": "Mid, KS",
                "wichita": "Mid, KS",
                "minneapolis": "Mid, MSP",
                "msp": "Mid, MSP",
                "stpaul": "Mid, MSP",
                "minneapolis-stpaul": "Mid, MSP",
                "stlouis": "Mid, St. Louis",
                
                "orlando": "South, FL, Northern",
                "miami": "South, FL, Southern",
                "boca": "South, FL, Southern",
                "bocaraton": "South, FL, Southern",
                "atlanta": "South, GA",
                "columbia": "South, SC",
                "nashville": "South, TN",
                "austin": "South, TX, Austin",
                "dallas": "South, TX, Dallas",
                "houston": "South, TX, Houston",

                "arizona": "West, AZ",
                "az": "West, AZ",
                "phoenix": "West, AZ",
                "yuma": "West, AZ",
                "flagstaff": "West, AZ",
                "la": "West, CA, LA",
                "bayarea": "West, CA, Northern",
                "ba": "West, CA, Northern",
                "sf": "West, CA, Northern",
                "sanfrancisco": "West, CA, Northern",
                "sv": "West, CA, Northern",
                "sandiego": "West, CA, San Diego",
                "denver": "West, CO",
                "boulder": "West, CO",
                "loveland": "West, CO",
                "colorado": "West, CO",
                "portland": "West, OR",
                "corvallis": "West, OR",
                "seattle": "West, Seattle",
                "eastside": "West, Seattle",
                "seattle-eastside": "West, Eastside",
                "slc": "West, UT",
                "vegas": "West, Vegas"
            }
        }
    }
}
